/* CSS Resets */
body,
p,
ul,
figure {
  margin: initial;
  padding: initial;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: initial;
}

strong {
  font-weight: inherit;
}

button {
  all: unset;
}

a {
  text-decoration: none;
}
