/* CSS Resets */
body,
p,
ul,
figure {
  margin: initial;
  padding: initial;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: initial;
}

strong {
  font-weight: inherit;
}

button {
  all: unset;
}

a {
  text-decoration: none;
}

/* Typography */
:root {
  --DM-font: "DM Serif Display", serif;
  --gilroy-font: "Gilroy", sans-serif;
}

/* Colors*/
:root {
  --background-color: #0b1d26;
  --white: #fff;
  --white-5: rgba(255, 255, 255, 0.5);
  --black: #000;
  --gold: #fbd784;
}

/* Layouts */
body {
  background-color: var(--background-color);
  font-family: var(--gilroy-font);
}

/* background */
.bg-img1,
.bg-img2,
.bg-img3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.bg-img2 {
  top: 464px;
}

.bg-img3 {
  top: 768px;
}

.gradient-content {
  height: 1200px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  border: 1px solid #fbd784;
  z-index: 1000;
}

/* header */
.header {
  position: absolute;
  top: 64px;
  left: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}
.header .gnb ul {
  display: flex;
  gap: 40px;
}
.header .gnb ul a {
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}
.header .btn-account {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: var(--white);
}
.header .btn-account::before {
  content: "";
  background: url(../images/icon/icon_account.svg), no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Components */
.visual {
  position: relative;
  height: 100vh;
  border: 1px solid #fbd784;
}
.visual::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
}

.sns {
  position: fixed;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 100;
}
.sns__title {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 18px;
  color: var(--white);
}
.sns .btn-insta,
.sns .btn-twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.sns .btn-insta {
  background: url(../images/icon/icon_instagram.svg) no-repeat;
}
.sns .btn-twitter {
  background: url(../images/icon/icon_twitter.svg) no-repeat;
}

.quick {
  position: fixed;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  z-index: 100;
}
.quick a {
  display: block;
  padding-right: 32px;
  text-align: right;
  color: var(--white);
  line-height: 60px;
  border-right: 3px solid var(--white-5);
}
.quick a.active {
  border-right: 3px solid var(--white);
}

.visual__copy {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 287px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.visual__copy .sub-title {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 18px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--gold);
}
.visual__copy .sub-title::before {
  content: "";
  width: 72px;
  height: 2px;
  background: var(--gold);
}
.visual__copy .main-title {
  text-transform: capitalize;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 6px;
  color: var(--white);
}
.visual__copy .scroll-guide {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}
.visual__copy .scroll-guide::after {
  content: "";
  background: url(../images/icon/icon_arrow_down.svg), no-repeat;
  width: 16px;
  height: 24px;
  margin-left: 16px;
}

.index-contents {
  margin-top: -460px;
}/*# sourceMappingURL=style.css.map */