/* Typography */
:root {
  --DM-font: "DM Serif Display", serif;
  --gilroy-font: "Gilroy", sans-serif;
}

/* Colors*/
:root {
  --background-color: #0b1d26;
  --white: #fff;
  --white-5: rgba(255, 255, 255, 0.5);
  --black: #000;
  --secondary-black: #111;
  --gold: #fbd784;
}

/* Layouts */
body {
  font-family: var(--gilroy-font);
  display: flex;
  justify-content: center;
  background: var(--secondary-black);
}

.wrapper {
  position: relative;
  width: 1920px;
  background-color: var(--background-color);
}

/* background */
.bg-img1,
.bg-img2,
.bg-img3 {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-img2 {
  top: 464px;
}

.bg-img3 {
  top: 768px;
}

.gradient-content {
  position: absolute;
  top: 1200px;
  left: 0;
  width: 100%;
  height: 700px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}

/* header */
.header {
  position: absolute;
  top: 64px;
  left: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .gnb ul {
  display: flex;
  gap: 40px;
}
.header .gnb ul a {
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}
.header .btn-account {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  color: var(--white);
}
.header .btn-account::before {
  content: "";
  background: url(../images/icon/icon_account.svg), no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Components */
.visual {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual__copy {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 387px;
}
.visual__copy .sub-title {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 18px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--gold);
}
.visual__copy .sub-title::before {
  content: "";
  width: 72px;
  height: 2px;
  background: var(--gold);
}
.visual__copy .main-title {
  text-transform: capitalize;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 6px;
  color: var(--white);
}
.visual__copy .scroll-guide {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}
.visual__copy .scroll-guide::after {
  content: "";
  background: url(../images/icon/icon_arrow_down.svg), no-repeat;
  width: 16px;
  height: 24px;
  margin-left: 16px;
}
.visual::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
  z-index: 1;
}

.sns {
  position: fixed;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 100;
}
.sns__title {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 18px;
  color: var(--white);
}
.sns .btn-insta,
.sns .btn-twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.sns .btn-insta {
  background: url(../images/icon/icon_instagram.svg) no-repeat;
}
.sns .btn-twitter {
  background: url(../images/icon/icon_twitter.svg) no-repeat;
}

.quick {
  position: fixed;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  z-index: 100;
}
.quick a {
  display: block;
  padding-right: 32px;
  text-align: right;
  color: var(--white);
  text-shadow: 0 0 5px var(--background-color);
  line-height: 60px;
  border-right: 3px solid var(--white-5);
}
.quick a.active {
  border-right: 3px solid var(--white);
}

.index-contents {
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}

.block {
  position: relative;
  width: 1462px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.115);
}
.block:nth-last-of-type(even) {
  flex-direction: row-reverse;
}
.block__info {
  position: relative;
}
.block__title {
  width: 555px;
  height: 154px;
  font-family: var(--DM-font);
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: var(--white);
}
.block__count {
  position: absolute;
  top: -20%;
  left: -20%;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  /* identical to box height, or 100% */
  color: #ffffff;
  opacity: 0.1;
}
.block__sub-title {
  position: absolute;
  width: 172px;
  height: 22px;
  left: 96px;
  top: 0px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--gold);
}
.block__content {
  width: 632px;
  height: 160px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: center;
  flex-grow: 0;
}
.block__more {
  position: absolute;
  width: 87px;
  height: 22px;
  left: 0px;
  top: 417px;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Accent */
  color: #fbd784;
}/*# sourceMappingURL=style.css.map */